pandas
scikit-learn
# Make sure that sphinx, sphinx_rtd_theme versions are pinned, otherwise
# readthedocs uses its default version of sphinx (1.8.5) which may lead to
# build fails.
sphinx==7.2.6
sphinx_rtd_theme>=1.0
tensorflow==2.15.0
transformers>=4.34.1
torch==2.2.1 --extra-index-url https://download.pytorch.org/whl/cpu
lightning
jax
dm-haiku
optax
rdkit
torch_geometric
PyYAML
yamlloader
dgl
sphinx-copybutton
sympy
pysam
pydantic
