name: Test for Code Formatting 
on:
  pull_request: # ci work when creating a PR to master branch
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set commit range (pull request)
      if: github.event_name == 'pull_request'
      run: |
        git fetch origin master
        echo "COMMIT_RANGE=origin/master..." >> $GITHUB_ENV
    - name: Cache pip packages for Linux
      if: runner.os == 'Linux'
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/**') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Set up Python 
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Create env.yml
      shell: bash
      run: |
        python -m pip install --upgrade pip;
        pip install conda-merge;
        cd requirements
        conda-merge env_common.yml env_test.yml env_ubuntu.yml tensorflow/env_tensorflow.cpu.yml torch/env_torch.cpu.yml jax/env_jax.cpu.yml > env.yml
        cd ..
        cp requirements/env.yml env.yml
    - name: Install all dependencies using micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: env.yml
        environment-name: deepchem
        channels: conda-forge,defaults
        extra-specs: python=${{ matrix.python-version }}

#    - name: Install all dependencies using conda
#      uses: conda-incubator/setup-miniconda@v2
#      with:
#        miniconda-version: "latest"
#        auto-update-conda: true
#        activate-environment: deepchem
#        channels: conda-forge,defaults
#        python-version: ${{ matrix.python-version }}
#        environment-file: env.yml
    - name: Install DeepChem
      id: install
      shell: bash -l {0}
      run: pip install -e .
    - name: Yapf (version 0.32.0)
      id: yapf
      # on Windows, yapf raise the strange error..., so ignore
      if: runner.os == 'Linux' || runner.os == 'macOS'
      shell: bash -l {0}
      run: |
        CHANGED_FILES=`git diff --name-only $COMMIT_RANGE | grep .py$ | grep -v contrib/ || true`
        if [ -n "$CHANGED_FILES" ]; then
          yapf -d $CHANGED_FILES
        fi
    - name: Flake8
      if: ${{ (success() || failure()) && (steps.install.outcome == 'failure' || steps.install.outcome == 'success') }}
      shell: bash -l {0}
      run: source scripts/flake8_for_ci.sh
    - name: Mypy
      if: ${{ (success() || failure()) && (steps.install.outcome == 'failure' || steps.install.outcome == 'success') }}
      shell: bash -l {0}
      run: |
        mypy -p deepchem
